LOCATE COMP "mclk" SITE "M2";

LOCATE COMP "gpio_pins[0]" SITE "P5"; 
LOCATE COMP "gpio_pins[1]" SITE "R5"; 

LOCATE COMP "gpio_pins[2]" SITE "R1"; 
LOCATE COMP "gpio_pins[3]" SITE "R2"; 
LOCATE COMP "gpio_pins[4]" SITE "T2"; 
LOCATE COMP "gpio_pins[5]" SITE "T3"; 
LOCATE COMP "gpio_pins[6]" SITE "T4"; 

LOCATE COMP "wsled" SITE "P6";

IOBUF PORT "tactx[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[11]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[12]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[13]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[14]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tactx[15]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;

LOCATE COMP "tactx[0]" SITE "M1"; 
LOCATE COMP "tactx[1]" SITE "L3"; 
LOCATE COMP "tactx[2]" SITE "L1"; 
LOCATE COMP "tactx[3]" SITE "L2"; 
LOCATE COMP "tactx[4]" SITE "K1"; 
LOCATE COMP "tactx[5]" SITE "K2"; 
LOCATE COMP "tactx[6]" SITE "J1"; 
LOCATE COMP "tactx[7]" SITE "J2"; 
LOCATE COMP "tactx[8]" SITE "G1"; 
LOCATE COMP "tactx[9]" SITE "F2"; 
LOCATE COMP "tactx[10]" SITE "F1"; 
LOCATE COMP "tactx[11]" SITE "E1"; 
LOCATE COMP "tactx[12]" SITE "E2"; 
LOCATE COMP "tactx[13]" SITE "D1"; 
LOCATE COMP "tactx[14]" SITE "C1"; 
LOCATE COMP "tactx[15]" SITE "B1"; 

IOBUF PORT "tacrxo[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[11]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[12]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[13]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[14]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IOBUF PORT "tacrxo[15]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;

LOCATE COMP "tacrxo[0]" SITE "B3"; 
LOCATE COMP "tacrxo[1]" SITE "A3"; 
LOCATE COMP "tacrxo[2]" SITE "B4"; 
LOCATE COMP "tacrxo[3]" SITE "A4"; 
LOCATE COMP "tacrxo[4]" SITE "B7"; 
LOCATE COMP "tacrxo[5]" SITE "A7"; 
LOCATE COMP "tacrxo[6]" SITE "B8"; 
LOCATE COMP "tacrxo[7]" SITE "A8"; 
LOCATE COMP "tacrxo[8]" SITE "B10"; 
LOCATE COMP "tacrxo[9]" SITE "A11"; 
LOCATE COMP "tacrxo[10]" SITE "B11"; 
LOCATE COMP "tacrxo[11]" SITE "A12"; 
LOCATE COMP "tacrxo[12]" SITE "B14"; 
LOCATE COMP "tacrxo[13]" SITE "A15"; 
LOCATE COMP "tacrxo[14]" SITE "B16"; 
LOCATE COMP "tacrxo[15]" SITE "C16"; 

IOBUF PORT "tacrxi[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;
IOBUF PORT "tacrxi[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;

LOCATE COMP "tacrxi[0]" SITE "C5"; 
LOCATE COMP "tacrxi[1]" SITE "A2"; 
LOCATE COMP "tacrxi[2]" SITE "B5"; 
LOCATE COMP "tacrxi[3]" SITE "A5"; 
LOCATE COMP "tacrxi[4]" SITE "B6"; 
LOCATE COMP "tacrxi[5]" SITE "A6"; 
LOCATE COMP "tacrxi[6]" SITE "B9"; 
LOCATE COMP "tacrxi[7]" SITE "A9"; 
LOCATE COMP "tacrxi[8]" SITE "C9"; 
LOCATE COMP "tacrxi[9]" SITE "A10"; 
LOCATE COMP "tacrxi[10]" SITE "B12"; 
LOCATE COMP "tacrxi[11]" SITE "A13"; 
LOCATE COMP "tacrxi[12]" SITE "B13"; 
LOCATE COMP "tacrxi[13]" SITE "A14"; 
LOCATE COMP "tacrxi[14]" SITE "C15"; 
LOCATE COMP "tacrxi[15]" SITE "D16"; 
