LOCATE COMP "pin_mclk" SITE "B16";

LOCATE COMP "uart_tx" SITE "R2";
IOBUF PORT "uart_tx" DRIVE=4 SLEWRATE=SLOW IO_TYPE=LVCMOS25;

LOCATE COMP "gpio_pins[0]" SITE "L15";
IOBUF PORT "gpio_pins[0]" DRIVE=4 SLEWRATE=SLOW PULLMODE=UP;

LOCATE COMP "gpio_pins[1]" SITE "L16";
IOBUF PORT "gpio_pins[1]" DRIVE=4 SLEWRATE=SLOW PULLMODE=UP;

LOCATE COMP "gpio_pins[2]" SITE "P15";
IOBUF PORT "gpio_pins[2]" DRIVE=4 SLEWRATE=SLOW PULLMODE=UP;

LOCATE COMP "gpio_pins[3]" SITE "R16";
IOBUF PORT "gpio_pins[3]" DRIVE=4 SLEWRATE=SLOW PULLMODE=UP;

LOCATE COMP "gpio_pins[4]" SITE "L1";
IOBUF PORT "gpio_pins[4]" DRIVE=12 SLEWRATE=SLOW IO_TYPE=LVCMOS25;

LOCATE COMP "gpio_pins[5]" SITE "L2";
IOBUF PORT "gpio_pins[5]" DRIVE=12 SLEWRATE=SLOW IO_TYPE=LVCMOS25;

LOCATE COMP "gpio_pins[6]" SITE "P1";
IOBUF PORT "gpio_pins[6]" DRIVE=12 SLEWRATE=SLOW IO_TYPE=LVCMOS25;

LOCATE COMP "gpio_pins[7]" SITE "R1";
IOBUF PORT "gpio_pins[7]" DRIVE=12 SLEWRATE=SLOW IO_TYPE=LVCMOS25;

LOCATE COMP "pin_ram_d[0]" SITE "E1";
LOCATE COMP "pin_ram_d[1]" SITE "C1";
LOCATE COMP "pin_ram_d[2]" SITE "F1";
LOCATE COMP "pin_ram_d[3]" SITE "D1";
LOCATE COMP "pin_ram_d[4]" SITE "C2";
LOCATE COMP "pin_ram_d[5]" SITE "E2";
LOCATE COMP "pin_ram_d[6]" SITE "B2";
LOCATE COMP "pin_ram_d[7]" SITE "B1";
LOCATE COMP "pin_ram_q" SITE "F2";
LOCATE COMP "pin_ram_ce" SITE "G1";
LOCATE COMP "pin_ram_clk" SITE "H2";
LOCATE COMP "pin_ram_reset" SITE "G2";

IOBUF PORT "pin_ram_d[0]" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;
IOBUF PORT "pin_ram_d[1]" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;
IOBUF PORT "pin_ram_d[2]" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;
IOBUF PORT "pin_ram_d[3]" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;
IOBUF PORT "pin_ram_d[4]" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;
IOBUF PORT "pin_ram_d[5]" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;
IOBUF PORT "pin_ram_d[6]" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;
IOBUF PORT "pin_ram_d[7]" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;

IOBUF PORT "pin_ram_q" DRIVE=4 SLEWRATE=FAST PULLMODE=NONE;
IOBUF PORT "pin_ram_ce" DRIVE=4 SLEWRATE=FAST PULLMODE=UP;
IOBUF PORT "pin_ram_clk" DRIVE=16 SLEWRATE=SLOW PULLMODE=NONE;
IOBUF PORT "pin_ram_reset" DRIVE=4 SLEWRATE=FAST PULLMODE=DOWN;
 
LOCATE COMP "pin_camera_extclk" SITE "A2";
#IOBUF PORT "gpin_camera_extclk" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;

LOCATE COMP "pin_camera_pixclk" SITE "A3";
#IOBUF PORT "pin_camera_pixclk" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=ON; # TERMINATION=150;

LOCATE COMP "pin_camera_frame_valid" SITE "M16";
#IOBUF PORT "pin_camera_frame_valid" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;

LOCATE COMP "pin_camera_line_valid" SITE "N16";
#IOBUF PORT "pin_camera_line_valid" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=OFF;

LOCATE COMP "pin_camera_data[0]" SITE "A4";
LOCATE COMP "pin_camera_data[1]" SITE "A5";
LOCATE COMP "pin_camera_data[2]" SITE "A6";
LOCATE COMP "pin_camera_data[3]" SITE "A7";
LOCATE COMP "pin_camera_data[4]" SITE "A8";
LOCATE COMP "pin_camera_data[5]" SITE "A9";
LOCATE COMP "pin_camera_data[6]" SITE "A10";
LOCATE COMP "pin_camera_data[7]" SITE "A11";
LOCATE COMP "pin_camera_data[8]" SITE "A12";
LOCATE COMP "pin_camera_data[9]" SITE "A13";
LOCATE COMP "pin_camera_data[10]" SITE "A14";
LOCATE COMP "pin_camera_data[11]" SITE "A15";

LOCATE COMP "test_o_clk" SITE "M1"; 
LOCATE COMP "test_o_dat" SITE "N1";