LOCATE COMP "mclk" SITE "K2";
LOCATE COMP "pin_clk" SITE "D8";
IOBUF PORT "pin_txen" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_txen" SITE "F1";
IOBUF PORT "pin_txen" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "pin_rxfn" SITE "G2";
IOBUF PORT "pin_rxfn" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "pin_wrn" SITE "G1";
IOBUF PORT "pin_wrn" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pin_rdn" SITE "J1";
IOBUF PORT "pin_rdn" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pin_oen" SITE "K1";
IOBUF PORT "pin_oen" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "pin_net_clk[0]" SITE "L1"; LOCATE COMP "pin_net_dat[0]" SITE "M1";
LOCATE COMP "pin_net_clk[1]" SITE "N1"; LOCATE COMP "pin_net_dat[1]" SITE "P1";
LOCATE COMP "pin_net_clk[2]" SITE "R2"; LOCATE COMP "pin_net_dat[2]" SITE "R4";
LOCATE COMP "pin_net_clk[3]" SITE "P4"; LOCATE COMP "pin_net_dat[3]" SITE "R5";

LOCATE COMP "pin_net_clk[7]" SITE "R12"; LOCATE COMP "pin_net_dat[7]" SITE "R13";
LOCATE COMP "pin_net_clk[6]" SITE "R15"; LOCATE COMP "pin_net_dat[6]" SITE "P16";
LOCATE COMP "pin_net_clk[5]" SITE "N16"; LOCATE COMP "pin_net_dat[5]" SITE "L16";
LOCATE COMP "pin_net_clk[4]" SITE "J16"; LOCATE COMP "pin_net_dat[4]" SITE "G16";

LOCATE COMP "pin_ledctrl" SITE "B2";

LOCATE COMP "pin_be[0]" SITE "B1";
LOCATE COMP "pin_be[1]" SITE "C1";
LOCATE COMP "pin_be[2]" SITE "D1";
LOCATE COMP "pin_be[3]" SITE "E1";
LOCATE COMP "pin_data[0]" SITE "E13";
LOCATE COMP "pin_data[1]" SITE "D13";
LOCATE COMP "pin_data[2]" SITE "C13";
LOCATE COMP "pin_data[3]" SITE "A15";
LOCATE COMP "pin_data[4]" SITE "B14";
LOCATE COMP "pin_data[5]" SITE "A14";
LOCATE COMP "pin_data[6]" SITE "B13";
LOCATE COMP "pin_data[7]" SITE "A13";
LOCATE COMP "pin_data[8]" SITE "B12";
LOCATE COMP "pin_data[9]" SITE "A12";
LOCATE COMP "pin_data[10]" SITE "B11";
LOCATE COMP "pin_data[11]" SITE "A11";
LOCATE COMP "pin_data[12]" SITE "B10";
LOCATE COMP "pin_data[13]" SITE "A10";
LOCATE COMP "pin_data[14]" SITE "B9";
LOCATE COMP "pin_data[15]" SITE "A9";
LOCATE COMP "pin_data[16]" SITE "A8";
LOCATE COMP "pin_data[17]" SITE "B8";
LOCATE COMP "pin_data[18]" SITE "A7";
LOCATE COMP "pin_data[19]" SITE "B7";
LOCATE COMP "pin_data[20]" SITE "A6";
LOCATE COMP "pin_data[21]" SITE "B6";
LOCATE COMP "pin_data[22]" SITE "A5";
LOCATE COMP "pin_data[23]" SITE "B5";
LOCATE COMP "pin_data[24]" SITE "A4";
LOCATE COMP "pin_data[25]" SITE "B4";
LOCATE COMP "pin_data[26]" SITE "A3";
LOCATE COMP "pin_data[27]" SITE "B3";
LOCATE COMP "pin_data[28]" SITE "A2";
LOCATE COMP "pin_data[29]" SITE "C5";
LOCATE COMP "pin_data[30]" SITE "D4";
LOCATE COMP "pin_data[31]" SITE "E4";